<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hostel</title>
    
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="../static/swift.png" alt="" />
        </div>
        <span class="logo_name">Team Swift</span>
      </div>
      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="/dash">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/complain">
              <i class="uil uil-comment-info"></i>
              <span class="link-name">Complain</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-user"></i>
              <span class="link-name">User</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-cog"></i>
              <span class="link-name">Setting</span>
            </a>
          </li>
        </ul>
        <ul class="logout-mod">
          <li>
            <a href="/signout">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
      </div>
      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Dashboard</span>
          </div>
          <div class="complain">
              <h1>COMPLAIN FORM</h1>
          </div>
          {% for message in messages %}
          <div
            class="alert alert-{{message.tags}} alert-dismissible fade show"
            role="alert"
          >
            <li style="color: red;">{{message}}</li>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}
          <form action="/send" class="boxes" method="post">
              {% csrf_token %}
            <div class="box box1">
              <label for="">Fisrt Name</label>
              <input type="text" name="name" id="" required />
            </div>
            <div class="box box2">
              <label for="">Last Name</label>
              <input type="text" name="lname" id="" required/>
            </div>
            <div class="box box3">
              <label for="">Student ID</label>
              <input type="number" name="id_number" id="" required/>
            </div>
            <div class="box box3">
              <label for="">Student Email</label>
              <input type="email" name="email" id="" required/>
            </div>
            <div class="box box3">
              <label for="">Hall Name</label>
              <input type="text" name="hall" id="" required/>
            </div>
            <div class="box box3">
              <label for="">Room Number</label>
              <input type="text" name="room" id="" required/>
            </div>
            <div class="box box3">
              <label for="">Complain/Problem 1</label>
              <textarea
                name="complain1"
                id=""
                rows="8"
                placeholder="State the Problem"
              required></textarea>
            </div>
            <div class="box box3">
              <label for="">Complain/Problem 2</label>
              <textarea
                name="complain2"
                id=""
                rows="8"
                placeholder="State the Problem"
              ></textarea>
            </div>
            <div class="box box3">
              <label for="">Complain/Problem 3</label>
              <textarea
                name="complain3"
                id=""
                rows="8"
                placeholder="State the Problem"
              ></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
        
        </div>
      </div>
    </section>
    <script src="../static/index.js"></script>
  </body>
</html>
