<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hostel</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="../static/swift.png" alt="" />
        </div>
        <span class="logo_name">Team Swift</span>
      </div>
      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="/dash">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/complain">
              <i class="uil uil-comment-info"></i>
              <span class="link-name">Complain</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-user"></i>
              <span class="link-name">User</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-cog"></i>
              <span class="link-name">Setting</span>
            </a>
          </li>
        </ul>
        <ul class="logout-mod">
          <li>
            <a href="/signout">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
      </div>
      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Dashboard</span>
          </div>
          <div class="complain">
            <h3>WELCOME TO DEL-HOSTEL</h3>

            {% if user.is_authenticated%}
            <h3 class="name">Hello {{fname}}</h3>
            <h4>you have successfully logged in</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <script src="../static/index.js"></script>
  </body>
</html>
